<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1059502715324-9avgkk6f109mhrl86r9dqpb0h7huc1tr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059502715324-9avgkk6f109mhrl86r9dqpb0h7huc1tr</string>
	<key>API_KEY</key>
	<string>AIzaSyC9wgZnhUMssZ7e5Yb_FoaqwP6uXSBTGoM</string>
	<key>GCM_SENDER_ID</key>
	<string>1059502715324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jernung.testing.firebase</string>
	<key>PROJECT_ID</key>
	<string>testing-7ed2f</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-7ed2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059502715324:ios:80fd92315fbd03f3</string>
	<key>DATABASE_URL</key>
	<string>https://testing-7ed2f.firebaseio.com</string>
</dict>
</plist>
