<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732929930122-j19gjdgmi8fk3dq06mqk1po0ljag9li7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732929930122-j19gjdgmi8fk3dq06mqk1po0ljag9li7</string>
	<key>API_KEY</key>
	<string>AIzaSyCV_O0yIVgc0-GygCkTYKNd8bfVSduaup8</string>
	<key>GCM_SENDER_ID</key>
	<string>732929930122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jernung.testing.firebase</string>
	<key>PROJECT_ID</key>
	<string>testing-1f7d3</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-1f7d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732929930122:ios:f10348c2c6623b8a</string>
	<key>DATABASE_URL</key>
	<string>https://testing-1f7d3.firebaseio.com</string>
</dict>
</plist>