<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-google-firebase"
        version="0.10.6">

  <name>Firebase</name>
  <description>Cordova plugin for Google Firebase</description>
  <author>Joshua McFarland</author>
  <license>MIT</license>
  <keywords>cordova,google,firebase</keywords>

  <engines>
    <engine name="cordova" version=">=6.4.0" />
    <engine name="cordova-android" version=">=6.3.0" />
    <engine name="cordova-ios" version=">=4.3.0" />
  </engines>

  <js-module src="www/firebase.js" name="FirebasePlugin">
    <clobbers target="plugins.firebase" />
  </js-module>

  <hook type="after_prepare" src="scripts/after_prepare.js" />

  <platform name="android">

    <preference name="APP_ID" default="ca-app-pub-3940256099942544~3347511713" />

    <config-file target="config.xml" parent="/*">
      <feature name="FirebasePlugin" >
        <param name="android-package" value="com.jernung.plugins.firebase.FirebasePlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="$APP_ID" />
    </config-file>

    <hook type="after_plugin_install" src="scripts/android/after_plugin_install.js" />

    <framework src="com.google.firebase:firebase-ads:17.2.0" />
    <framework src="com.google.firebase:firebase-config:16.5.0" />
    <framework src="com.google.firebase:firebase-core:16.0.8" />
    <framework src="com.google.firebase:firebase-perf:16.2.5" />

    <framework custom="true" src="build.gradle" type="gradleReference" />

    <source-file src="src/android/FirebasePlugin.java" target-dir="src/com/jernung/plugins/firebase" />
    <source-file src="src/android/PluginUtils.java" target-dir="src/com/jernung/plugins/firebase" />

  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/*">
			<feature name="FirebasePlugin">
				<param name="ios-package" value="FirebasePlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

    <hook type="after_plugin_install" src="scripts/ios/after_plugin_install.js" />

    <framework src="AdSupport.framework" />
    <framework src="Security.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="libc++.tbd" />
    <framework src="libz.tbd" />

    <framework custom="true" src="src/ios/Crashlytics/Crashlytics.framework" />
    <framework custom="true" src="src/ios/Crashlytics/Fabric.framework" />
    <framework custom="true" src="src/ios/Firebase/Admob/GoogleMobileAds.framework" />
    <framework custom="true" src="src/ios/Firebase/Analytics/FIRAnalyticsConnector.framework" />
    <framework custom="true" src="src/ios/Firebase/Analytics/FirebaseAnalytics.framework" />
    <framework custom="true" src="src/ios/Firebase/Analytics/FirebaseCore.framework" />
    <framework custom="true" src="src/ios/Firebase/Analytics/FirebaseCoreDiagnostics.framework" />
    <framework custom="true" src="src/ios/Firebase/Analytics/FirebaseInstanceID.framework" />
    <framework custom="true" src="src/ios/Firebase/Analytics/GoogleAppMeasurement.framework" />
    <framework custom="true" src="src/ios/Firebase/Analytics/GoogleUtilities.framework" />
    <framework custom="true" src="src/ios/Firebase/Analytics/nanopb.framework" />
    <framework custom="true" src="src/ios/Firebase/Performance/FirebasePerformance.framework" />
    <framework custom="true" src="src/ios/Firebase/Performance/GoogleToolboxForMac.framework" />
    <framework custom="true" src="src/ios/Firebase/Performance/GTMSessionFetcher.framework" />
    <framework custom="true" src="src/ios/Firebase/RemoteConfig/FirebaseABTesting.framework" />
    <framework custom="true" src="src/ios/Firebase/RemoteConfig/FirebaseRemoteConfig.framework" />
    <framework custom="true" src="src/ios/Firebase/RemoteConfig/Protobuf.framework" />

    <header-file src="src/ios/Firebase/Firebase.h" />
    <header-file src="src/ios/AppDelegate+FirebasePlugin.h" />
    <source-file src="src/ios/AppDelegate+FirebasePlugin.m" />
    <header-file src="src/ios/FirebasePlugin.h" />
		<source-file src="src/ios/FirebasePlugin.m" />

  </platform>

</plugin>
