<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-google-firebase"
        version="0.9.0">

  <name>Firebase</name>
  <description>Cordova plugin for Google Firebase</description>
  <author>Joshua McFarland</author>
  <license>MIT</license>
  <keywords>cordova,google,firebase</keywords>

  <engines>
    <engine name="cordova" version=">=6.4.0" />
    <engine name="cordova-android" version=">=6.3.0" />
    <engine name="cordova-ios" version=">=4.3.0" />
  </engines>

  <js-module src="www/firebase.js" name="FirebasePlugin">
    <clobbers target="plugins.firebase" />
  </js-module>

  <dependency id="cordova-plugin-add-swift-support" version="1.7.2" />

  <platform name="android">

    <preference name="APP_ID" default="ca-app-pub-3940256099942544~3347511713" />

    <config-file target="config.xml" parent="/*">
      <feature name="FirebasePlugin" >
        <param name="android-package" value="com.jernung.plugins.firebase.FirebasePlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="$APP_ID" />
    </config-file>

    <framework src="build.gradle" custom="true" type="gradleReference" />

    <framework src="com.google.android.gms:play-services-tagmanager:16.0.4" />
    <framework src="com.google.firebase:firebase-ads:17.0.0" />
    <framework src="com.google.firebase:firebase-core:16.0.4" />

    <source-file src="src/android/FirebasePlugin.java" target-dir="src/com/jernung/plugins/firebase" />
    <source-file src="src/android/PluginUtils.java" target-dir="src/com/jernung/plugins/firebase" />

  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/*">
			<feature name="FirebasePlugin">
				<param name="ios-package" value="FirebasePlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

    <framework src="AdSupport.framework" />
    <framework src="Firebase/AdMob" type="podspec" spec="~> 5.13.0" />
    <framework src="Firebase/Core" type="podspec" spec="~> 5.13.0" />
    <framework src="Crashlytics" type="podspec" spec="~> 3.11.1" />
    <framework src="Fabric" type="podspec" spec="~> 1.8.2" />
    <framework src="GoogleTagManager" type="podspec" spec="~> 7.1.1" />

    <source-file src="src/ios/FirebasePlugin.swift" />

  </platform>

</plugin>
