<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-google-firebase"
        version="0.12.18">

  <name>Firebase</name>
  <description>Cordova plugin for Google Firebase</description>
  <author>Joshua McFarland</author>
  <license>MIT</license>
  <keywords>cordova,google,firebase</keywords>

  <engines>
    <engine name="cordova" version=">=6.4.0" />
    <engine name="cordova-android" version=">=6.3.0" />
    <engine name="cordova-ios" version=">=4.3.0" />
  </engines>

  <js-module src="www/firebase.js" name="FirebasePlugin">
    <clobbers target="plugins.firebase" />
  </js-module>

  <platform name="android">

    <preference name="APP_ID_ANDROID" default="ca-app-pub-3940256099942544~3347511713" />

    <config-file target="config.xml" parent="/*">
      <feature name="FirebasePlugin" >
        <param name="android-package" value="com.jernung.plugins.firebase.FirebasePlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="$APP_ID_ANDROID" />
      <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </config-file>

    <hook type="after_plugin_install" src="scripts/android/after_plugin_install.js" />

    <framework src="com.google.firebase:firebase-ads:18.3.0" />
    <framework src="com.google.firebase:firebase-analytics:17.2.2" />
    <framework src="com.google.firebase:firebase-config:19.1.1" />
    <framework src="com.google.firebase:firebase-perf:19.0.5" />

    <framework custom="true" src="build.gradle" type="gradleReference" />

    <source-file src="src/android/FirebasePlugin.java" target-dir="src/com/jernung/plugins/firebase" />
    <source-file src="src/android/PluginUtils.java" target-dir="src/com/jernung/plugins/firebase" />

  </platform>

  <platform name="ios">

    <preference name="APP_ID_IOS" default="ca-app-pub-3940256099942544~1458002511" />

    <config-file target="config.xml" parent="/*">
			<feature name="FirebasePlugin">
				<param name="ios-package" value="FirebasePlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

    <config-file parent="GADApplicationIdentifier" target="*-Info.plist">
        <string>$APP_ID_IOS</string>
    </config-file>

    <config-file parent="GADIsAdManagerApp" target="*-Info.plist">
        <true />
    </config-file>

    <hook type="after_plugin_install" src="scripts/ios/after_plugin_install.js" />

    <podspec>
      <config>
        <source url="https://github.com/CocoaPods/Specs.git" />
      </config>
      <pods>
        <pod name="Crashlytics" spec="~> 3.14.0" />
        <pod name="Fabric" spec="~> 1.10.2" />
        <pod name="Firebase/AdMob" spec="~> 6.17.0" />
        <pod name="Firebase/Analytics" spec="~> 6.17.0" />
        <pod name="Firebase/Performance" spec="~> 6.17.0" />
        <pod name="Firebase/RemoteConfig" spec="~> 6.17.0" />
      </pods>
    </podspec>

    <header-file src="src/ios/AppDelegate+FirebasePlugin.h" />
    <source-file src="src/ios/AppDelegate+FirebasePlugin.m" />
    <header-file src="src/ios/FirebasePlugin.h" />
		<source-file src="src/ios/FirebasePlugin.m" />

  </platform>

</plugin>
